<% provide(:title, 'Help') %>

<script type="text/javascript">
	$(document).ready(function() {
		$('li#help-page').addClass('active');
	});
</script>

<div class="content">
	Help 
	<p>Find me in app/views/static_pages/help.html.erb</p>
</div>