<div class="center-element">
	<% if signed_in? %>
	<h1>Меню</h1>
	<%= link_to "Заявки", requests_path, class: "btn btn-large" %>
	<%= link_to "Автоматы", "#", class: "btn btn-large" %>
	<% else %>
		<%= link_to "Войти в систему", signin_path %>
	<% end %>
</div>