<form ng-submit="createMessage()" class="form-horizontal">

  <div class="form-group" 
    ng-class='{"has-warning": !inputs.name && !inputsErrors.name,
               "has-success": inputs.name  && !inputsErrors.name,
               "has-error":   inputsErrors.name}'>
    <label class="col-sm-3 control-label" for="name">Наименование</label>
    <div class="col-sm-9">
      <input id="name"
        type="text"
        ng-model='newName'
        placeholder="Введите наименование"
        class="form-control">
      <div class="alert alert-danger alert-field" ng-show="inputsErrors.name">
        {{inputsErrors.name}}
      </div>
    </div>
  </div>

  <div class="form-group" ng-class='{"has-success": inputs.description}'>
    <label class="col-sm-3 control-label" for="description">Описание</label>
    <div class="col-sm-9">
      <input id="description"
        type="text"
        ng-model='newDescription'
        placeholder="Введите описание"
        class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">Типы поручений</h3>
      <ul class="non-point">
        <li ng-repeat="task in tasks">
          <button ng-class="{active: task.checked}"
            type="button"
            class="btn btn-default"
            ng-click="check(task)">
            {{task.name}}
          </button>
        </li>
        <li ng-repeat="task in newTasks">
          <button type="button"
            class="btn btn-default active"
            ng-click="deleteNewTask($index)">
            {{task}}
          </button>
        </li>
        <li ng-show="!showNewTask">
          <button type="button"
            class="btn btn-default"
            ng-click="showNewTask=true">
            Новый тип поручения
          </button>
        </li>
        <li ng-show="showNewTask">
          <input type="text"
            placeholder="Введите новый тип"
            class="form-control"
            ng-model="newTask">
        </li>
        <li ng-show="showNewTask">
          <button type="button"
            class="btn btn-default"
            ng-click="createTask()">
            Создать
          </button>
          <button type="button"
            class="btn btn-default"
            ng-click="showNewTask=false">
            Отмена
          </button>
        </li>
      </ul>
    </div> <!-- end of col -->
    <div class="col-md-6">
      <h3 class="text-center">Типы атрибутов</h3>
      <ul class="non-point">
        <li ng-repeat="attribute in attributes">
          <button ng-class="{active: attribute.checked}" 
            type="button"
            class="btn btn-default"
            ng-click="check(attribute)">
            {{attribute.name}}
          </button>
        </li>
        <li ng-repeat="attribute in newAttributes">
          <button type="button"
            class="btn btn-default active"
            ng-click="deleteNewAttribute($index)">
            {{attribute}}
          </button>
        </li>
        <li ng-show="!showNewAttribute">
          <button type="button"
            class="btn btn-default"
            ng-click="showNewAttribute=true">
            Новый тип атрибута
          </button>
        </li>
        <li ng-show="showNewAttribute">
          <input type="text"
            placeholder="Введите новый тип"
            class="form-control"
            ng-model="newAttribute">
        </li>
        <li ng-show="showNewAttribute">
          <button type="button"
            class="btn btn-default"
            ng-click="createAttribute()">
            Создать
          </button>
          <button type="button"
            class="btn btn-default"
            ng-click="showNewAttribute=false">
            Отмена
          </button>
        </li>
      </ul>
    </div> <!-- end of col -->
    <div class="col-md-6">
      <h3 class="text-center">Типы заявок</h3>
      <ul class="non-point">
        <li ng-repeat="requestType in requestTypes">
          <button ng-class="{active: requestType.checked}" 
            type="button" 
            class="btn btn-default"
            ng-click="check(requestType)">
            {{requestType.name}}
          </button>
        </li>
      </ul>
    </div> <!-- end of col -->
  </div> <!-- end of row -->

  <div class="row">
    <div class="col-sm-12 text-right form-footer">
      <input type="submit" value="Создать" class="btn btn-primary">
    </div>
  </div>
</form>