<% provide(:title, 'Messages') %>
<div id="message_new" class="form">
  <h1>Новый сигнал</h1>
  <%= render 'form_new' %>
</div>

<br>

<div class="content">
  <h1>Сигналы</h1>
  <hr>
  <%= render 'all' %>
  <br>
</div>