<% provide(:title, 'Messages') %>

<script type="text/javascript">
	$(document).ready(function() {
		$('li#messages').addClass('active');
	});
</script>

<div class="modal fade"
  id="newMessage"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newMessageLabel"
  aria-hidden="true"
  data-backdrop="static">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-button"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="newMessageLabel">Новый тип сигнала</h4>
      </div> <!-- end of modal-header -->
      <div class="modal-body">
        <%= render 'form_new' %>
      </div>
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of newMessage -->

<div class="content">
  <%= render 'all' %>
  <%= render 'form_edit' %>
</div>