<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      p {
        margin-bottom: 3px;
        margin-top: 3px;
      }
    </style>
  </head>
  <body>

    <% if @employee.email %>

      <%= render 'request_info' %>

      <br>

      <p>
        Чтобы подтвердить прочтение, перейдите по ссылке: 
        <%= link_to("Подтвердить",
                    url_for(controller: 'request_tasks',
                            action: 'read',
                            only_path: false,
                            host: @host,
                            id: @request_task.id,
                            type: 'audit',
                            employee_id: @employee.id)) %>
      </p>

    <% end %>
  </body>
</html>