<h1 style="display: inline-block;">Сотрудники</h1><br>

<div class="btn-group" style="margin-bottom: 15px;">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newEmployee">Создать</button>
  <button type="button" class="btn btn-default" ng-click="deleteEmployees()">Удалить</button>
</div>

<div class="table-responsive standart-table-container" ng-show="!editing">
<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Номер</th>
      <th>Имя</th>
    </tr>
    <tr>
      <td></td>
      <td><input ng-model="search.id" class="form-control" placeholder="Поиск по номеру"></td>
      <td><input ng-model="search.name" class="form-control" placeholder="Поиск по имени"></td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="employee in employees | filter:search">
      <td><input type="checkbox" ng-model="employee.checked"></td>
      <td ng-click="clickEmployee($index)">{{employee.id}}</td>
      <td ng-click="clickEmployee($index)">{{employee.name}}</td>
    </tr>
  </tbody>
</table>
</div>