<% provide(:title, 'Tasks') %>

<script type="text/javascript">
	$(document).ready(function() {
		$('li#tasks').addClass('active');
	});
</script>

<div id="task_new" class="content text-center">
  <h1>Новый тип поручения</h1>
  <%= render 'form_new' %>
</div>

<div class="content">
  <h1>Типы поручений</h1>
  <%= render 'all' %>
</div>