<script type="text/javascript">
	$(document).ready(function() {
		$('li#users').addClass('active');
	});
</script>

<% provide(:title, 'Users') %>

<div class="content">
  <div id="success-msg"></div>
  <%= render 'all' %>
</div>