<div class="content">
  <h1>Заявки</h1>
  <hr>
  <%= render 'all' %>
  <br>
</div>

<br>

<div id="request_edit" class="form bubble">
  <h1>Редактирование заявки</h1>
</div>

<br>

<div id="request_new" class="form">
  <h1>Новая заявка!</h1>
  <%= render 'form' %>
</div>