<script type="text/javascript">
	$(document).ready(function() {
		$('li#requests').addClass('active');
	});
</script>

<% provide(:title, 'Requests') %>
<div id="request_new" class="content">
	<div class="text-center">
		<h1>Новая заявка</h1>
	</div>
  	<%= render 'form_new' %>
</div>

<div class="content">
  <%= render 'all' %>
</div>

<div id="request_messages" class="content bubble" style="min-width: 300px;">
</div> 