<div id="filtered-request-messages">
	<table id="request-messages-table" class="standart-table">
	  <thead>
	  	<tr>
	  		<th>Сигналы заявки</th>
	  	</tr>
	  </thead>
	  <tbody id ="requests">
	    <% @request_messages.each do |request_message| %>
	      <tr id="<%= request_message.id %>">
	        <td><%= request_message.message.name %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>