<div class="inline-block">
  <h1 style="margin-bottom: 0px;">Поручения, где я:</h1>
</div>
<div class="inline-block">
  <div class="inline-block">
    <h1 style="margin-bottom: 0px;">
      <button type="button"
        class="btn btn-lg"
        ng-class="{active: whoAmI.assigner, 'btn-link': !whoAmI.assigner}"
        ng-click="whoAmIFilter('assigner')">
        Назначатель,
      </button>
    </h1>
    <h4 style="margin: 0px;">
      <button type="button"
        class="btn"
        ng-class="{active: indicators.assign, 'btn-link': !indicators.assign}"
        ng-click="indicatorsFilter('assign')">
        Назначить <span ng-show="toAssignCount" class="count-label">{{toAssignCount}}</span>
      </button>
    </h4>
    <h4 style="margin: 0px;" ng-show="toReadAssignCount">
      <button type="button"
        class="btn"
        ng-class="{active: to_read.assigner, 'btn-link': !to_read.assigner}"
        ng-click="toReadFilter('assigner')">
        Не прочитано <br> исполнителем <span class="count-label">{{toReadAssignCount}}</span>
      </button>
    </h4>
  </div>

  <div class="inline-block">
    <h1 style="margin-bottom: 0px;">
      <button type="button"
        class="btn btn-lg"
        ng-class="{active: whoAmI.executor, 'btn-link': !whoAmI.executor}"
        ng-click="whoAmIFilter('executor')">
        Исполнитель,
      </button>
    </h1>
    <h4 style="margin: 0px;">
      <button type="button"
        class="btn"
        ng-class="{active: indicators.execute, 'btn-link': !indicators.execute}"
        ng-click="indicatorsFilter('execute')">
        Выполнить <span ng-show="toExecuteCount" class="count-label">{{toExecuteCount}}</span>
      </button>
    </h4>
    <h4 style="margin: 0px;" ng-show="toReadExecuteCount">
      <button type="button"
        class="btn"
        ng-class="{active: to_read.executor, 'btn-link': !to_read.executor}"
        ng-click="toReadFilter('executor')">
        Не прочитано <br> контролером <span class="count-label">{{toReadExecuteCount}}</span>
      </button>
    </h4>
  </div>

  <div class="inline-block">
    <h1 style="margin-bottom: 0px;">
      <button type="button"
        class="btn btn-lg"
        ng-class="{active: whoAmI.auditor, 'btn-link': !whoAmI.auditor}"
        ng-click="whoAmIFilter('auditor')">
        Контролер
      </button>
    </h1>
    <h4 style="margin: 0px;">
      <button type="button"
        class="btn"
        ng-class="{active: indicators.audit, 'btn-link': !indicators.audit}"
        ng-click="indicatorsFilter('audit')">
        Проконтролировать <span ng-show="toAuditCount" class="count-label">{{toAuditCount}}</span>
      </button>
    </h4>
  </div>
</div>

<h4 style="margin: 0px;">Которые:
  <div class="btn-group">
    <button type="button"
      class="btn"
      ng-class="{active: overdued.done, 'btn-link': !overdued.done}"
      ng-click="overduedFilter('done')">
      Просрочены и сделаны,
    </button>
    <button type="button"
      class="btn"
      ng-class="{active: overdued.not_done, 'btn-link': !overdued.not_done}"
      ng-click="overduedFilter('not_done')">
      Просрочены и не сделаны
    </button>
  </div>
</h4>

<div fixedheader class="standart-table-container" ng-show="!editing">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Тип</th>
        <th>Описание</th>
        <th>Автомат</th>
        <th>Дата создания</th>
        <th>Плановая дата</th>
        <th>Дата выполнения</th>
        <th>Дата проверки</th>
        <th>Назначатель</th>
        <th>Исполнитель</th>
        <th>Контролер</th>
      </tr>
      <tr>
        <td><input ng-model="search.id"             class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.task_name"      class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.description"    class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.machine_name"   class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.creation_date"  class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="deadlineDateFilter"    class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.execution_date" class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.audition_date"  class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.assigner_name"  class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.executor_name"  class="form-control input-sm" ng-change="changeWidth()"></td>
        <td><input ng-model="search.auditor_name"   class="form-control input-sm" ng-change="changeWidth()"></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="requestTask in requestTasks | filter:search">
        <td ng-class="{'td-to-read': needsToRead(requestTask)}" 
          ng-click="clickRequestTask($index)">{{requestTask.id}}</td>
        <td ng-class="{'td-to-read': needsToRead(requestTask)}"
          ng-click="clickRequestTask($index)">{{requestTask.task_name}}</td>
        <td ng-click="clickRequestTask($index)">{{requestTask.description}}</td>
        <td ng-class="{'td-to-read': needsToRead(requestTask)}" 
          ng-click="clickRequestTask($index)">{{requestTask.machine_name}}</td>
        <td ng-click="clickRequestTask($index)">{{formattedDate(requestTask.creation_date)}}</td>
        <td ng-click="clickRequestTask($index)">{{formattedDate(requestTask.deadline_date)}}</td>
        <td ng-click="clickRequestTask($index)">{{formattedDate(requestTask.execution_date)}}</td>
        <td ng-click="clickRequestTask($index)">{{formattedDate(requestTask.audition_date)}}</td>
        <td ng-click="clickRequestTask($index)">{{requestTask.assigner_name}}</td>
        <td ng-click="clickRequestTask($index)">{{requestTask.executor_name}}</td>
        <td ng-click="clickRequestTask($index)">{{requestTask.auditor_name}}</td>
      </tr>
    </tbody>
  </table>
</div>