<div ng-show="editing" class="border-top">
  <button type="button" class="close" ng-click="editing=false">&times;</button>
  <h1 class="text-center">Поручение {{editingId}}</h1>
  <form ng-submit="updateRequestTask()" class="form-horizontal">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9"><h3>Основное</h3></div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.executorId}'>
          <label class="col-sm-3 control-label" for="executor_id">Исполнитель</label>
          <div class="col-sm-9">
            <select ng-model="editingExecutorId" 
              ng-options="employee.id as employee.name for employee in employees"
              class="form-control">
            </select>
          </div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.auditorId}'>
          <label class="col-sm-3 control-label" for="auditor_id">Контролер</label>
          <div class="col-sm-9">
            <select ng-model="editingAuditorId" 
              ng-options="employee.id as employee.name for employee in employees"
              class="form-control">
            </select>
          </div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.deadlineDate}' 
             ng-show="canEditDeadlineDate(<%= current_user.employee_id %>)">
          <label class="col-sm-3 control-label" for="deadline_date">Плановая дата</label>
          <div class="col-sm-9">
            <input datetimepickerfromnow 
              type="text"
              id="deadline_date"
              ng-model="editingDeadlineDate"
              class="form-control">
          </div>
        </div>

        <div class="form-group" ng-show="!canEditDeadlineDate(<%= current_user.employee_id %>)">
          <label class="col-sm-3 text-right" for="deadline_date">Плановая дата</label>
          <div class="col-sm-9 text-left"
            id="deadline_date">
            {{formattedDate(requestTasks[editingIdx].deadline_date)}}
          </div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.executionDate}'>
          <label class="col-sm-3 control-label" for="execution_date">Дата выполнения</label>
          <div class="col-sm-9">
            <input datetimepicker
              type="text"
              id="execution_date"
              ng-model="editingExecutionDate"
              class="form-control">
          </div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.auditionDate}'>
          <label class="col-sm-3 control-label" for="audition_date">Дата проверки</label>
          <div class="col-sm-9">
            <input datetimepicker
              type="text"
              id="audition_date"
              ng-model="editingAuditionDate"
              class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9"><h3>Описания</h3></div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.description}'>
          <label class="col-sm-3 control-label" for="description">Описание</label>
          <div class="col-sm-9">
            <textarea type="text"
              id="description"
              ng-model="editingDescription"
              class="form-control">
            </textarea>
          </div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.registrarDescription}'>
          <label class="col-sm-3 control-label" for="registrarDescription">Описание регистратора</label>
          <div class="col-sm-9">
            <textarea type="text"
              id="registrarDescription"
              ng-model="editingRegistrarDescription"
              class="form-control">
            </textarea>
          </div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.assignerDescription}'>
          <label class="col-sm-3 control-label" for="assignerDescription">Описание назначателя</label>
          <div class="col-sm-9">
            <textarea type="text"
              id="assignerDescription"
              ng-model="editingAssignerDescription"
              class="form-control">
            </textarea>
          </div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.executorDescription}'>
          <label class="col-sm-3 control-label" for="executorDescription">Описание исполнителя</label>
          <div class="col-sm-9">
            <textarea type="text"
              id="executorDescription"
              ng-model="editingExecutorDescription"
              class="form-control">
            </textarea>
          </div>
        </div>

        <div class="form-group" ng-class='{"has-success": editingInputs.auditorDescription}'>
          <label class="col-sm-3 control-label" for="auditorDescription">Описание контролера</label>
          <div class="col-sm-9">
            <textarea type="text"
              id="auditorDescription"
              ng-model="editingAuditorDescription"
              class="form-control"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <input type="submit" value="Сохранить" class="btn btn-primary">
            <a class="btn btn-primary" href="/requests?request_task_id={{editingId}}">Создать заявку</a>
          </div>
        </div>
      </div> <!-- end of col -->
      <div class="col-md-4">
        <h4><label>Информация по заявке</label></h4>
        <ul class="non-point">
          <li>
            <strong>Номер:</strong>
            {{editingRequest.id}}
          </li>
          <li>
            <strong>Регистратор:</strong>
            {{editingRequest.registrar_name}}
          </li>
          <li>
            <strong>Дата регистрации:</strong>
            {{formattedDate(editingRequest.created_at)}}
          </li>
          <li>
            <strong>Автомат:</strong>
            {{editingRequest.machine_name}}
          </li>
          <li>
            <strong>Описание:</strong>
            {{editingRequest.description}}
          </li>
          <li>
            <strong>Тип заявки:</strong>
            {{editingRequest.request_type_name}}
          </li>
          <li>
            <strong>Телефон:</strong>
            {{editingRequest.phone}}
          </li>
        </ul>
        <br>
        <h4><label>Атрибуты</label></h4>
        <ul class="non-point">
          <li ng-repeat="attribute in editingAttributes">
            <strong>{{attribute.name}}:</strong>
            {{attribute.value}}
          </li>
        </ul>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </form>
</div>