<div ng-show="editing" class="border-top">
<button type="button" class="close" ng-click="editing=false">&times;</button>
  <h1 class="text-center">Поручение {{editingId}}</h1>
  <form ng-submit="updateRequestTask()" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 text-right" for="request_id">Номер заявки</label>
      <div class="col-sm-10 text-left" id="request_id">{{requestTasks[editingIdx].request_id}}</div>
    </div>

    <div class="form-group" ng-class='{"has-success": editingInputs.executorId}'>
      <label class="col-sm-2 control-label" for="executor_id">Исполнитель</label>
      <div class="col-sm-8">
        <select ng-model="editingExecutorId" 
          ng-options="employee.id as employee.name for employee in employees"
          class="form-control">
        </select>
      </div>
    </div>

    <div class="form-group" ng-class='{"has-success": editingInputs.auditorId}'>
      <label class="col-sm-2 control-label" for="auditor_id">Контролер</label>
      <div class="col-sm-8">
        <select ng-model="editingAuditorId" 
          ng-options="employee.id as employee.name for employee in employees"
          class="form-control">
        </select>
      </div>
    </div>

    <div class="form-group" ng-class='{"has-success": editingInputs.description}'>
      <label class="col-sm-2 control-label" for="description">Описание</label>
      <div class="col-sm-8">
        <input type="text" id="description" ng-model="editingDescription" class="form-control">
      </div>
    </div>

    <div class="form-group" ng-class='{"has-success": editingInputs.deadlineDate}' 
         ng-show="canEditDeadlineDate(<%= current_user.employee_id %>)">
      <label class="col-sm-2 control-label" for="deadline_date">Плановая дата</label>
      <div class="col-sm-8">
        <input type="datetime-local" id="deadline_date" step="1" ng-model="editingDeadlineDate" class="form-control" ng-click="setMinDate($event)">
      </div>
    </div>

    <div class="form-group" ng-show="!canEditDeadlineDate(<%= current_user.employee_id %>)">
      <label class="col-sm-2 text-right" for="deadline_date">Плановая дата</label>
      <div class="col-sm-10 text-left" id="deadline_date">{{formattedDate(editingDeadlineDate)}}</div>
    </div>

    <div class="form-group" ng-class='{"has-success": editingInputs.executionDate}'>
      <label class="col-sm-2 control-label" for="execution_date">Дата выполнения</label>
      <div class="col-sm-8">
        <input type="datetime-local" id="execution_date" step="1" ng-model="editingExecutionDate" class="form-control">
      </div>
    </div>

    <div class="form-group" ng-class='{"has-success": editingInputs.auditionDate}'>
      <label class="col-sm-2 control-label" for="audition_date">Дата проверки</label>
      <div class="col-sm-8">
        <input type="datetime-local" id="audition_date" step="1" ng-model="editingAuditionDate" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8"><input type="submit" value="Сохранить" class="btn btn-primary"></div>
    </div>
  </form>
</div>