<% provide(:title, 'Request Tasks') %>

<script type="text/javascript">
	$(document).ready(function() {
		$('li#request-tasks').addClass('active');
	});
</script>

<div class="content">
  <%= render 'all' %>
</div>