<% provide(:title, 'Message Tasks') %>

<div class="form">
  <h1>Фильтр поручений</h1>
  <%= render 'filter' %>
  <br>
</div>

<br>

<div class="content">
  <h1>Поручения сигналов</h1>
  <hr>
  <%= render 'all' %>
  <br>
</div>