<% provide(:title, 'Message Tasks') %>

<script type="text/javascript">
	$(document).ready(function() {
		$('li#message-tasks').addClass('active');
	});
</script>

<div class="content">
  <%= render 'all' %>
</div>