body {
	margin-top: 60px;
	background-color: #e9ebec;
}

/*@media (max-width: 991px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}*/

.application {
	position: relative;
}

.menu {
	position: fixed;
	width: 200px;
}

.workspace {
	margin-left: 200px;
}

.menu-nav {
	width: 200px;
	float: left;
	white-space: nowrap;
}

.close-button {
	width: 20px;
	height: 100%;
	float: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}

.close-button-triangle-left {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 10px 5px 0;
	border-color: transparent #BDBDBD transparent transparent;

	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.close-button-triangle-right {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #BDBDBD;

	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.close-button:hover {
	background-color: #D2D2D2;
}

.border-top {
	border-top: 1px solid #c5c5c5;
}

.menu-nav li a:hover {
    background-color: #D2D2D2;
}

.content {
	-webkit-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-o-border-top-left-radius: 6px;
	border-top-left-radius: 6px;

	-webkit-border-bottom-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-o-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	
	background-color: #FFFFFF;
	border: 1px solid #BDBDBD;
	padding: 15px;
	min-width: 600px;
	margin-bottom: 15px;
	position: relative;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.form-footer {
	border-top: 1px solid #c5c5c5;
	margin-top: 15px;
	padding-top: 15px;
}

ul.non-point li {
 	list-style-type: none;
 	margin-bottom: 5px;
}

ul.non-point {
	padding-left: 0;
}

.standart-table-container {
	overflow-x: auto;
	overflow-y: auto;
	position: relative;
}

.standart-table-container thead {
	white-space: nowrap;
}

.standart-table-header {
	position: absolute;
	top: 0;
	background-color: #FFFFFF;
	table-layout: fixed !important;
}

.scrollX {
	overflow-x: auto;
	overflow-y: hidden;
	position: absolute;
	height: 15px;
}

.scrollInner {
	height: 1px;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.count-label {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #FF5D5D;
	padding: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.message-count-label {
	color: #FFFFFF;
	background-color: #7D88EC;
	padding: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.input-clear {
	margin: auto;
  	position: absolute;
  	top: 0; 
  	bottom: 0; 
  	right: 10px;
}

.to-read-count {
	margin: 0px;
	padding-left: 12px;
	padding-right: 12px;
}