body {
	margin-top: 80px;
	background-color: #e9ebec;
}

.border-top {
	border-top: 1px solid #c5c5c5;
}

.menu-nav li a:hover {
    background-color: #D2D2D2;
}

.content {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background-color: #FFFFFF;
	border: 1px solid #BDBDBD;
	padding: 15px;
	/*-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);*/
	min-width: 600px;
	margin-bottom: 15px;
	position: relative;
}

.form-footer {
	border-top: 1px solid #c5c5c5;
	margin-top: 15px;
	padding-top: 15px;
}

ul.non-point li {
 	list-style-type: none;
 	margin-bottom: 5px;
}

ul.non-point {
	padding-left: 0;
}

.standart-table-container {
	overflow-x: auto;
	overflow-y: scroll;
	position: relative;
}

/*.standart-table-container table {
	white-space: nowrap;
}*/

.standart-table-container thead {
	white-space: nowrap;
}

.standart-table-header {
	position: absolute;
	top: 0;
	background-color: #FFFFFF;
	table-layout: fixed !important;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.count-label {
	color: #D93333;
	background-color: #FFBFBF;
	padding: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}