<% provide(:title, 'Machines') %>

<script type="text/javascript">
	$(document).ready(function() {
		$('li#machines').addClass('active');
	});
</script>

<div class="content">
	<h1>Автоматы</h1>
	  <%= render 'all' %>
</div>