<div class="content">
  <h1>Автомат <%= @machine.name %></h1>
  <hr>
  <br>
  uid: <%= @machine.uid %> <br>
  Расположение: <%= @machine.location %> <br>
  Тип: <%= @machine.machine_type %> <br>
</div>