<header class="navbar">
  <div class="logo">
      <%= link_to "Новый Вендинг", root_path, id: "logo" %>
  </div>
  <nav>
    <ul class="nav">
      <li><%= link_to "Главная", root_path %></li>
      <li><%= link_to "Помощь",  help_path %></li>
      <li><%= link_to "Войти",   '#' %></li>
    </ul>
  </nav>
</header>